<div class="container">
  <div class="col-12 ml-5 my-5">
    <%= flash[:notice] %>
    <p>
    <% if @customer.id == current_customer.id %>
      <h2>マイページ</h2>
    <% else %>
      <h3><%= @customer.name %> さんのプロフィール</h3>
    <% end %>
    </p>
    <% if @customer.is_deleted == false %>
      <%= image_tag @customer.get_profile_image(70, 70) %>
      <table class="table">
        <tr>
          <th>ユーザー名</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>性別</th>
          <td><%= @customer.gender %></td>
        </tr>
        <tr>
          <th>現住</th>
          <td><%= @customer.prefecture %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @customer.introduction %></td>
        </tr>
        <tr>
        <tr></tr>
        <tr></tr>
      </table>
      <hr>
        <p>
          <% if @customer.name != "ゲストさん" && @customer.id == current_customer.id %>
            <%= link_to "編集する", edit_customer_registration_path, class: "btn btn-success" %>
            <%= link_to "投稿する", new_shop_path, class: "btn btn-warning" %>
            <%= link_to "いいね一覧", favorites_path, class: "btn btn-danger" %>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-secondary" %>
          <% elsif @customer.name == "ゲストさん" %>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-secondary" %>
          <% else %>
          <% end %>
        </p>
      <% if @customer.id == current_customer.id %>
        <h3>投稿したお店</h3>
      <% else %>
        <h3><%= @customer.name %> さんの投稿したお店</h3>
      <% end %>
      <hr>
      <% if @shops.where(customer_id: params[:id]).blank? && @customer.id != current_customer.id %>
        投稿はありません
      <% elsif @shops.where(customer_id: params[:id]).blank? && @customer.id == current_customer.id && @customer.name != "ゲストさん" %>
        まだ投稿していません。<%= link_to "お店を投稿", new_shop_path %>してみましょう！
      <% else %>
        <% @shops.each do |shop| %>
          <%= link_to shop.title, shop_path(shop), class: "text-dark" %>
          <p><%= shop.shop_name %></p>
          <hr>
        <% end %>
      <% end %>
    <% else %>
      退会済ユーザーです。
    <% end %>
  </div>
</div>

