<div class="container">
  <div class="col-12 m-5">
    <h4><%= "#{shop.comments.count} 件のコメント" %></h4>
    <% shop.comments.each do |comment| %><hr>
    <table class="table table-borderless">
      <thead>
      <tr>
        <th>
          <%= comment.title %> 
          <% if comment.customer == current_customer %>
            <%= link_to '削除', shop_comment_path(shop, comment), method: :delete, data: { confirm: '本当に消します？' }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </th>
      </tr>
      <tr>
        <td>
          <%= link_to(shop.customer) do %>
            <%= image_tag comment.customer.get_profile_image(50, 50) %><br>
            <div class='text-dark'><%= comment.customer.name %></div>
          <% end %>
          <% review_count = Review.find_by(customer_id: comment.customer.id, shop_id: shop.id)&.star || 0 %>
          <span id="review_customer_<%= comment.id %>" data-score="<%= review_count %>"></span>
          (<%= review_count %>)
        </td>
        <tr>
          <td><%= comment.comment %></td>
        </tr>
        <tr>
          <td><small><%= comment.created_at.strftime('%Y/%m/%d(%a) %R') %></small></td></tr>
      </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
    <script>
      $(document).on('DOMContentLoaded', function(event) {
        $('#review_customer_<%= comment.id %>').raty({
          readOnly: true,
          starOff: '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          hints: ["非常に不評", "不評", "賛否両論", "好評", "非常に好評"],
          // divタグのdata-score属性から評価の平均値を呼び出す
          score: function () {
            return $(this).attr('data-score');
          },
        });
      });
    </script>
    <% end %>
  </div>
</div>