<h1>Public::Shops#index</h1>
<p>Find me in app/views/public/shops/index.html.erb</p>
<% @genres.each do |genre| %>
  <p><small><%= link_to genre.name, shops_path(genre_id: genre.id) %></small></p>
<% end %><br>
<% @prefectures.each do |pre| %>
  <p><small><%= link_to pre[0], shops_path(prefecutre_id: pre[1]) %></small></p>
<% end %><br>
<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'></div>

<style>
    #map {
        height: 1000px;
        width: 1000px;
    }
</style>

<script>
  let map

  const display = document.getElementById('display')

  // mapの表示関数
  function initMap() {
    geocoder = new google.maps.Geocoder()

    // mapの初期位置, 縮尺を定義
    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 35.6458437,
        lng: 139.7046171
      },
      zoom: 5.7,
    });

    // mapsテーブルにあるそれぞれのレコードをmap上に表示
    <% @shops.each do |m| %>
      (function(){
      var contentString = "<%= m.shop_name %>：<%= m.map.address %>";

      // マーカーを立てる
      var marker = new google.maps.Marker({
        position:{lat: <%= m.map.latitude %>, lng: <%= m.map.longitude %>},
        map: map,
        title: contentString
      });

      // 情報ウィンドウ(吹き出し)の定義
      // 投稿の詳細ページへのリンクも
      var infowindow = new google.maps.InfoWindow({
      position: {lat: <%= m.map.latitude %>, lng: <%= m.map.longitude %>},
      content: "<a href='<%= shop_path(m.id) %>' target='_blank'><%= m.shop_name %><br><%= m.map.address %></a>"
      });

      // クリックしたときに情報ウィンドウを表示
      marker.addListener('click', function() {
      infowindow.open(map, marker);
      });

      })();
    <% end %>
  }

  let geocoder

  // 地図検索関数
  function codeAddress() {
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });

      display.textContent = "検索結果：" + results[ 0 ].geometry.location
      } else {
         alert('該当する結果がありませんでした：' + status);
        }
    });
  }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
    async defer>
</script>

<h3>場所一覧</h3>
<% @shops.each do |shop| %>
  <p><%= link_to shop_path(shop.id) do %><p>
    <% shop.shop_images.each do |shop_image| %>
    <p><%= image_tag shop_image, size: "400x400" %></p>
    <% end %>
    <p class="text-dark"><%= shop.shop_name %></p>
  <% end %>
  <p>タグ：<%= shop.genre.name %></p>
  <!--<div class="average-review-rating" data-score=<%#= t.reviews.average(:star) %>></div>-->
  <!--<%#=@all_rating %>：<%#= t.reviews.average(:star).to_f.round(1) %>-->
  <!--</div>-->
  <p>住所 : <%= shop.map.address %></p>
  <% if shop.customer_id == current_customer.id %>
    <p><%= link_to "削除する", shop_path(shop.id), method: :delete %></p>
    <% else %>
  <% end %>
  <hr>
<% end %>