<div class="container col-11">
  <div class="col-12 mt-5 mb-5">
    <p>
    <h2>店情報</h2>
    </p>
    <% if @shop.is_hidden == false %>
    <table class="table table-bordered">
      <tr>
        <th>題名</th>
        <td><%= @shop.title %></td>
      </tr>
      <tr>
        <th>写真</th>
        <td>
          <% @shop.shop_images.each do |shop_image| %>
          <%= image_tag shop_image, size:"480x300", class: "mt-1" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>店名</th>
        <td><%= @shop.shop_name %></td>
      </tr>
      <tr>
        <th>種類</th>
        <td><%= @shop.genre.name %></td>
      </tr>
      <tr>
        <th>評価</th>
        <td>
          <div id="review_avg" data-score="<%= @review_avg %>"></div>(
          <% if @shop.reviews.present? %>
          <small><%= link_to @shop.reviews.count, shop_reviews_path(@shop.id) %>
          <% else %>
          <small><%= @shop.reviews.count %>
          <% end %>
          件の評価</small>)<hr>
          <%# 評価済みの場合は、再評価できないようにする %>
          <% if @review_flg.blank? %>
            <%# 自分自身の投稿には評価できないようにする %>
              <small>評価しましょう</small>
              <%= form_with model: @review, url: shop_reviews_path(@shop) do |review| %>
                <div id="review"></div><br>
                <%= review.submit "評価する", class: "btn btn-sm btn-success" %>
              <% end %>
              <script>
                $('#review').empty(); // Turbolinksで星が増殖する現象を解消
                $('#review').raty({
                  starOff: '<%= asset_path('star-off.png') %>',
                  starOn: '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  // 登録するモデル名とカラム名を記述
                  //  送信値として採用される
                  scoreName: 'review[star]',
                  half: true,
                });
              </script>
          <% else %>
            <small>評価済みです。</small><br>
            <%= link_to '評価を削除', shop_review_path(@shop), method: :delete, data: { confirm: '評価削除しますか？' }, class: "btn btn-sm btn-secondary" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @shop.map.prefecture %><%= @shop.map.address %></td>
      </tr>
      <tr>
        <th>説明</th>
        <td><%= simple_format(@shop.body) %></td>
      </tr>
      <tr>
        <th>位置</th>
        <td><div id='map'></div></td>
      </tr>
      <tr>
        <th>閲覧数</th>
        <td><i class="far fa-eye"></i> <%= @shop.view_counts.count %></td>
      </tr>
      <tr>
        <th>いいね</th>
        <td id="favorite_buttons_<%= @shop.id %>"><%= render "public/favorites/fav", shop: @shop, favorite: @favorite %></td>
      </tr>
      <tr>
        <th>投稿者</th>
        <td><%= link_to @shop.customer.name, customer_path(@shop.customer.id), class: "text-dark" %></td>
      </tr>
      <tr></tr>
    </table>
    <% if current_customer.id == @shop.customer.id %>
      <%= link_to "編集する", edit_shop_path(@shop), class: "btn btn-success" %>
    <% else %>
    <% end %>
  </div>
</div>
<div id="shop_comment">
  <div id="comment_area"><%= render "public/comments/comments", shop: @shop %></div>
  <div id="comment"><%= render "public/comments/comment_form", shop: @shop, comment: @comment %></div>
</div>

<script>
  $('#review_avg').empty(); // Turbolinksで星が増殖する現象を解消
  $('#review_avg').raty({
    readOnly: true,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    hints: ["非常に不評", "不評", "賛否両論", "好評", "非常に好評"],
    // divタグのdata-score属性から評価の平均値を呼び出す
    score: function () {
      return $(this).attr('data-score');
    },
  });
</script>

<style>
  #map {
    height: 1000px;
    width: 1380px;
    margin-left: 20px;
  }
</style>

<script>
  let map

  const display = document.getElementById('display')

  // mapの表示関数
  function initMap() {
    geocoder = new google.maps.Geocoder()

    // mapの初期位置, 縮尺を定義
    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: <%= @map.latitude %>,
        lng: <%= @map.longitude %>
      },
      zoom: 18,
    });

    // mapsテーブルにあるそれぞれのレコードをmap上に表示
    (function(){
    var contentString = "住所：<%= @map.prefecture %><%= @map.address %>";

    // マーカーを立てる
    var marker = new google.maps.Marker({
        position:{lat: <%= @map.latitude %>, lng: <%= @map.longitude %>},
        map: map,
        title: contentString
    });

    // 情報ウィンドウ(吹き出し)の定義
    // 投稿の詳細ページへのリンクも
    var infowindow = new google.maps.InfoWindow({
    position: {lat: <%= @map.latitude %>, lng: <%= @map.longitude %>},
    content: "<a href='<%= shop_path(@shop.id) %>' target='_blank'><%= @map.prefecture %><%= @map.address %></a>"
    });

    // クリックしたときに情報ウィンドウを表示
    marker.addListener('click', function() {
    infowindow.open(map, marker);
    });

  })();
  }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
    async defer>
</script>
<% else %>
管理者により非公開設定にされています。
<% end %>