<div class="container col-12">
  <div class="col-11 ml-5 my-5">
      <h3><strong><%= @customer.name %>さんの会員情報編集</strong></h3>
    <%#= render 'layouts/errors', obj: @customer %>
    <%= bootstrap_form_with model: @customer, url: admin_customer_path, method: :patch, local: true do |f| %>
      <%= f.text_field :name, placeholder: "ユーザー名" %>
      <%= f.select :gender, Customer.genders.keys.to_a, {prompt: "性別"}, class: 'form-control' %>
      <%= f.select :prefecture, Customer.prefectures.keys.to_a, {prompt: "都道府県を選択"}, class: 'form-control' %>
      <%= f.text_area :introduction, placeholder: "紹介文" %>
      <%= f.file_field :profile_image, accept: "image/*" %>
      <%= image_tag @customer.get_profile_image(100, 100) %>
      <small class="form-text text-muted">現在のプロフィール画像</small>
      <%= f.email_field :email, autocomplete: "email", placeholder: "example@example.com" %>
      <%= f.label "会員ステータス" %><br>
      <%= f.radio_button_without_bootstrap :is_deleted, :false %> 有効
      <%= f.radio_button_without_bootstrap :is_deleted, :true %> 退会<br>
      <%= f.submit "編集内容を保存", class: "btn btn-success" %>
    <% end %>
  </div>
</div>