<div class="container col-11">
  <div class="col-12 mt-5 mb-5">
    <%= flash[:notice] %>
    <p>
      <h3><%= @customer.name %> さんのプロフィール</h3>
    </p>
    <%= image_tag @customer.get_profile_image(70, 70) %>
    <table class="table">
      <tr>
        <th>ユーザー名</th>
        <td><%= @customer.name %></td>
      </tr>
      <tr>
        <th>性別</th>
        <td><%= @customer.gender %></td>
      </tr>
      <tr>
        <th>現住</th>
        <td><%= @customer.prefecture %></td>
      </tr>
      <tr>
        <th>自己紹介</th>
        <td><%= @customer.introduction %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td><%= @customer.is_deleted ? '退会' : '有効' %></td>
      </tr>
    </table>
    <hr>
      <p>
        <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success" %>
      </p>
      <h3><%= @customer.name %> さんの投稿したお店</h3>
    <hr>
    <% if @shops.where(customer_id: params[:id]).blank? %>
      投稿はありません
    <% else %>
      <% @shops.each do |shop| %>
        <%= link_to shop.title, admin_shop_path(shop), class: "text-dark" %>
        <p><%= shop.shop_name %></p>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
