<div class="container">
  <div class="col-12 ml-5 my-5">
    <h2><%#= @review.shop_name %> の評価一覧</h2>
    <% @reviews.each do |review| %>
    
      <%= link_to review.customer.name, customer_path(review.customer.id), class: "text-dark" %>
      <% review_count = Review.find_by(customer_id: review.customer.id, shop_id: review.shop.id)&.star || 0 %>
      <div id="review_customer_<%= review.id %>" data-score="<%= review_count %>"></div><hr>
      <script>
        $(document).on('DOMContentLoaded', function(event) {
          $('#review_customer_<%= review.id %>').raty({
            readOnly: true,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            hints: ["非常に不評", "不評", "賛否両論", "好評", "非常に好評"],
            // divタグのdata-score属性から評価の平均値を呼び出す
            score: function () {
              return $(this).attr('data-score');
            },
          });
        });
      </script>
    <% end %>
  </div>
</div>

