<div class="container">
  <div class="col-8 ml-5 my-5">
    <h1><%= t('.sign_up') %></h1>

    <%= bootstrap_form_with model: @customer, url: customer_registration_path do |f| %>
      <%= bootstrap_devise_error_messages! %>
      <%= f.text_field :name, autofocus: true, placeholder: "2～20文字", class: 'form-control' %>

      <%= f.select :gender, Customer.genders.keys.to_a, {prompt: "性別"}, class: 'form-control' %>

      <%= f.select :prefecture, Customer.prefectures.keys.to_a, {prompt: "都道府県を選択"}, class: 'form-control' %>

      <%= f.email_field :email, placeholder: "example@example.com", autocomplete: 'email', class: 'form-control' %>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field_without_bootstrap :password, autocomplete: 'current-password', class: 'form-control' %>

        <% if @minimum_password_length %>
          <small class="form-text text-muted"><%= t('public.shared.minimum_password_length', count: @minimum_password_length) %></small>
        <% end %>
      </div>

      <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>

      <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
    <% end %>

    <%= render 'public/shared/links' %>

  </div>
</div>
