<div class="container-login">
  <div class="col-8 ml-5 my-5">
    <h1><%= t('.sign_in') %></h1>

    <%= bootstrap_form_with model: @customer, url: customer_session_path do |f| %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>

      <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>

      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check">
          <%= f.check_box_without_bootstrap :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' do %>
            <%= resource.class.human_attribute_name('remember_me') %>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit  t('.sign_in'), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render 'public/shared/links' %>
  </div>
</div>
